name: DAST Analysis

on:
  workflow_call:

jobs:
  dast:
    runs-on: ubuntu-latest
    name: Scan the web application
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.13.0
        with:
          target: 'https://holdit-cloud-home.lovable.app'
          # DESACTIVAR SUBIDA INTERNA: Esto elimina el error 400 Bad Request
          artifact_name: '' 
          fail_action: false
          issue_title: 'Security Report: DAST Analysis'

      - name: Upload Report Manually
        # "if: always()" asegura que el paso corra aunque el escaneo encuentre fallos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          # Nombre simple sin guiones ni caracteres especiales
          name: 'reportezapfinal' 
          path: |
            report_html.html
            report_md.md