name: DAST Analysis

on:
  workflow_call:

jobs:
  dast:
    runs-on: ubuntu-latest
    name: Scan the web application
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.13.0
        with:
          target: 'https://holdit-cloud-home.lovable.app'
          # DEJAMOS VACÍO EL ARTEFACTO INTERNO: Esto evita el Error 400
          artifact_name: '' 
          fail_action: false
          issue_title: 'Security Report: DAST Analysis'

      # SUBIDA MANUAL: Usamos el estándar de GitHub para mayor estabilidad
      - name: Upload Security Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: 'reporteseguridad' # Nombre simple, sin caracteres especiales
          path: |
            report_html.html
            report_md.md